.counterTile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    margin: 10px;
    max-width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}