.formInput {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 200px;
}

input {
    margin-left: 10px;
}

#delivery-frequency-field {
    display: block;
    margin-top: 20px;
}

.delivery-moment-field {
    display: inline-block;
}